html,body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    image-rendering: pixelated;
    display: flex;
    flex: 1;
    flex-direction: column;
}

#canvas {
    height: 512px;
    width: 512px;
    border: solid 1px;
    display: grid;
}

.border {
    border: solid 1px;
}

.menu {
    display: flex;
}