html, body {
    height: 100%;
    color: #eeeeee;
    background-color: #241f31;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #171421;
}

.content {
    image-rendering: pixelated;
    display: flex;
    flex: 1;
}

#canvas {
    height: 512px;
    width: 512px;
    margin: 64px;
    border: solid 1px;
    background-color: #ffffff;
    display: grid;
}

.pixel.border {
    border: solid 1px #9c9c9c;
}

.menu {
    background-color: #171421;
    margin: 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    flex: 0;
}

.tools {
    display: flex;
    flex: 0;
    flex-wrap: wrap;
    justify-content: center;
    margin: 8px;
}

.colors {
    display: flex;
    justify-content: center;
    gap: 12px;
}

button {
    height: 64px;
    width: 64px;
    margin: 4px;
}

#color, #bgcolor {
    height: 64px;
    width: 64px;
    border: 0px;
    padding: 0px;
    cursor: pointer;
}

.footer {
    background-color: #171421;
}